body    {
    font-family: "lucida grande";
    margin: 0px;
}

.banner {
    display: flex;
    position: fixed;
    height: 50px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 5px;
    background-color: white;
    z-index: 1;
}

.logo   {
    width: 100px;
    margin-left: 120px;
}

.nav    {
    display: flex;
}

.navItem    {
    list-style-type: none;
    margin-right: 20px;
    color: gray;
    font-size: small;
}

.navItem:hover {
    color: navy;
}

.logIn    {
    margin-left: 450px;
}

.signUp {
    list-style-type: none;
    margin-right: 20px;
    position: relative;
    bottom: 12px;
}

.button {
    color: white;
    background-color:#f26226;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.signUpButton   {
    height: 40px;
    width: 100px;
}

.vid    {
    width: 100%
}

.getStarted {
    width: 200px;
    height: 50px;
}

.main   {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.overlay    {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlayText    {
    width: 500px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.doodle {
    height: 325px;
}

.top    {
    padding-top: 65px;
}

.doodle.left {
    padding-left: 200px;
}

.doodle.right   {
    padding-left: 125px;
}

.txtblck    {
    width: 500px;
    font-size: 25px;
    color: #6a6d75;
    padding-top: 75px;
    line-height: 1.75em;
}

.heading    {
        color: #303236;
}

.txtblck.left   {
    padding-left: 250px;
}

.center {
    background-image: url(https://media.blueapron.com/home_page/WhatsInTheDelivery/20171213_HomepageUpdate_WhatsInside_1200_Desktop.jpg?quality=75);
    height: 580px;
}

.gridContainer  {

    background-color: #fff;
    margin: 12% , 
}

.grid   {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b"
                         "c d";
    
    
}

.planSelection  {
    background-color: blue;
    height: 80px;
    width: 500px;
    border-radius: 50px;
    justify-self: center;
    text-align: center;
    font-size: 40px;
    color: #fff;
    border: none;
    
}